# Clustering Toronto

## Adding Latitude and Longitude information

In [1]:
import pandas as pd
import geocoder

* Reading from csv

In [2]:
df=pd.read_csv('Tornto_Neighborhood.csv',index_col=False)

In [19]:
df.columns

Index(['Unnamed: 0', 'PostalCode', 'Borough', 'Neighborhood'], dtype='object')

* When reading from csv , pandas add a neew column from the index, it must be dropped

In [3]:
df.drop(columns='Unnamed: 0',inplace=True)

* Reading geospatial coordinates

In [4]:
df_latlong=pd.read_csv('Geospatial_Coordinates.csv')
df_latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

* Rename postal code column so both have the same name

In [5]:
df.rename(columns={'PostalCode':'Postal Code'},inplace=True)

* Since theere isn't a particular order , i can sort values based on Postal Code , and then concatenate both DF

In [8]:
df.sort_values('Postal Code',inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [12]:
df_latlong.sort_values('Postal Code',inplace=True)
df_latlong.reset_index(inplace=True,drop=True)
df_latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
neigborhood=pd.concat([df,df_latlong],axis=1,join='inner')

In [93]:
neigborhood

,Postal Code,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
102,M9W,Etobicoke Northwest,"Clairville, Humberwood, Woodbine Downs, West H...",M9W,43.706748,-79.594054

* Save DF to CSV for further use

In [11]:
neigborhood.to_csv('Toronto_Neigh_Latlong.csv')